* {
    text-align: left;
}

.bm_txt {
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #b8b8b8;
}

.bm_cnt {
    margin-top: 8px;
    margin-bottom: 60px;
    font-family: NotoSansCJKkr;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #0f0f0f;
}