.profile {
    width: -webkit-fill-available;
}

.user_data {
    display: flex;
}

#user_profile {
    width: 80px;
    border-radius: 40px;
}

#user_name {
    margin-left: 20px;
    line-height: 80px;
    font-family: NotoSansCJKkr;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #121212;
}

.guide_text {
    text-align: left;
    margin-top: 32px;
    font-family: NotoSansCJKkr;
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #0f0f0f;
}
