#logout {
    margin-top: 20px;
    width: 88px;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #979797;
    background-color: #ffffff;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #686868;
    cursor: pointer;
}