.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.loginPopup {
    margin-top: 0px !important;
    position: absolute;
    right: 31%;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.link {
    color: black;
}

.loginAfter {
    position: absolute;
    right: 100px;
}
.lastCategory {
    margin-right: 0px !important;
}
.navbar {
    border-bottom: solid 1px #e8e8e8;
    height: 90px;
    background: white;
    z-index: 100;
}
#categoryNav {
    border-bottom: solid 1px #e8e8e8;
    height: 90px;
    background-color: #000000;
    display: flex;
    justify-content: center;
}
.navText {
    height: 33px;
    padding-bottom: 32px;
    padding-top: 32px;
}
.nav-item {
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #121212;
    margin-top: -18px;
}
.nav-item > a {
    color: black;
    margin-right: 45px;
}

.about {
    margin-left: 3%;
}
.navImg {
    margin-top: -3px;
}
.nav-item > .newsRegister {
    width: 128px;
    display: flex;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
    background-color: #000000;
    position: absolute;
    right: 30px;
    color: white;
    top: 22px;
    margin-right: 18%;
}

.slider {
    width: 100%;
    margin-bottom: 180px;
}
.heartImg {
    margin-left: 90%;
}

.heartImg:hover {
    content: url('./img/ic-heart-picked.png');
}
.cardImg {
    width: 97px;
    height: 97px;
    margin-bottom: 24.5px;
}

.cardTitle {
    width: 339px;
    height: 38px;
    font-family: NotoSansCJKkr;
    font-size: 26px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.carousel-control-prev {
    width: 60px;
    height: 60px;
    background-color: #3e3e3e;
    display: flex;
    margin-left: 70%;
    margin-top: -30px;
}

.carousel-control-prev:hover {
    background-color: #0f0f0f;
}

.carousel-indicators > li {
    width: 12px;
    height: 12px;
    background-color: #dddddd;
}

.active {
    background-color: #3bd277 !important;
}

.banner1 {
    background: #0662ca;
    width: 100%;
}
.banner2 {
    background: #ff555c;
}
.banner3 {
    background: #ffda28;
}
.carousel-indicators > li {
    border-radius: 50%;
}
.carousel-control-next {
    width: 60px;
    height: 60px;
    background-color: #3e3e3e;
    display: flex;
    margin-left: calc(70% + 59px);
    margin-top: -30px;
    left: 0;
}

.carousel-control-next:hover {
    background-color: #0f0f0f;
}


.carousel-indicators {
    margin-bottom: -57px;
}
.cardText {
    width: 339px;
    height: 58px;
    font-family: NotoSansCJKkr;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #878787;
    margin-top: 0px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.kep-login-facebook.metro {
    margin-left: 50px;
}

.googleLogin {
    width: 240px;
}

.cardBody {
    padding: 30px 38px;
    cursor: pointer;
}

.carousel-control-prev-icon {
    background-image: url('./img/icon-arrow-2-left.svg');
}
.carousel-control-next-icon {
    background-image: url('./img/ic-arrow-popup@2x.png');

}
.spnCategory:hover {
    cursor: pointer;
}
.cardMinTitle {
    margin-bottom: 60px !important;
}

.card-deck {
    margin-bottom: 110px;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
.popup_inner {
    margin: 0px auto;
    background: white;
    height: 612px;
    width: 1070px;
    margin-top: 234px;
}

.inputName::placeholder {
    color: #b8b8b8;
}

.inputText {
    height: 131px;
}

.inputText::placeholder {
    color: #b8b8b8;
}

.popup_inner_register {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: white;
    height: 70%;
    width: 40%;
}

.popup_inner_login {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: white;
    height: 40%;
    width: 43%;
}
.popupCardTitle {
    width: 680px;
    height: 56px;
    font-family: NotoSansCJKkr;
    font-size: 38px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #121212;
}
.popupCardMinTitle {
    font-family: NotoSansCJKkr;
    font-size: 23px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3bd277;
}
.popupCardText {
    width: 612px;
    height: 162px;
    font-family: NotoSansCJKkr;
    font-size: 23px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.76;
    letter-spacing: normal;
    color: #686868;
}

img:hover {
    cursor: pointer;
}

#btnShowPopup {
    display: none;
}

#btnShowLoginPopup {
    display: none;
}

#btnShowRegisterPopup {
    display: none;
}
.nav_user > #user_profile {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-top: 18px;
}

.nav_user {
    position: absolute;
    right: 107px;
    top: 6px;
    display: flex;
}

.nav_user > #user_name {
    width: 100px;
    height: 16px;
    font-family: NotoSansCJKkr;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #121212;
    margin-top: 20px;
    margin-left: 12px;
}

.banner {
    width: 1280px !important;
}


.nav_user > #user_email {
    width: 62px;
    height: 16px;
    font-family: NotoSansCJKkr;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #121212;
    margin-top: 20px;
}